* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}


.container {
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
}

body {
	font-family: myriad pro, Verdana, Arial, Helvetica, sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
@media (max-width: 768px) {
h1 {
	font-size: 24px;
}
}
body {
	background: linear-gradient(135deg, #121212, #222222);
}
