:root {
  --primary-color: #1a73e8;
  /* Google Blue */
  --secondary-color: #34a853;
  /* Google Green */
  --background-light: #f5f5f5;
  /* Light background */
  --background-dark: #0a0a0a;
  /* Dark background */
  --text-light: #333333;
  /* Dark text for light theme */
  --text-dark: #e0e0e0;
  /* Light text for dark theme */
  --card-background-light: rgba(255, 255, 255, 0.9);
  /* Semi-transparent white */
  --card-background-dark: rgba(30, 30, 30, 0.9);
  /* Semi-transparent dark gray */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --blur: blur(10px);
  --transition: all 0.3s ease;
}

[data-theme="dark"] {
  --background-light: #0a0a0a;
  /* Dark background */
  --background-dark: #f5f5f5;
  /* Light background */
  --text-light: #e0e0e0;
  /* Light text for dark theme */
  --text-dark: #333333;
  /* Dark text for light theme */
  --card-background-light: rgba(30, 30, 30, 0.9);
  /* Semi-transparent dark gray */
  --card-background-dark: rgba(255, 255, 255, 0.9);
  /* Semi-transparent white */
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  transition: var(--transition);
}

b {
  color: var(--secondary-color);
}


* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}