body {
	padding: 1rem 1rem;
	margin: 0;
	font-family: myriad pro, Verdana, Arial, Helvetica, sans-serif;
	color: white;
	background-color: rgb(255 170 0);
}

* {
	box-sizing: border-box;
}

a {
	color: #0073ff;
}
img {
	max-width: 100%;
	display: block;
}
