.section > div {
	max-width: 800px;
	margin-top: 10px;
	border: 2px solid black;
	outline: 4px solid rgb(0, 255, 242);
	outline-offset: -6px;
	border-top-color: white;
	border-left-color: white;
	background-color: rgb(242, 255, 63);
	box-shadow: 7px 7px black;
}
