.header {
	background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5));
}
.profile {
	display: flex;
}
.profile_img {
	border-radius: 50%;
}
.profile_name {
	margin-left: 25px;
	margin-top: 25px;
	font-size: 70px;
	line-height: 1;
}

.skill {
	text-align: center;
	border-radius: 4px;
	padding: 0.25em 0 0.2em;
	background: #181818;
	margin: 5px;
	width: 100px;
}
.skills {
	background: linear-gradient(rgb(0, 0, 0, 0.6) 0, #121212 50%);
}
.skills_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.projects {
	background-color: #121212;
}
.project {
	display: flex;
	align-items: center;
	background: #181818;
	border-radius: 4px;
	padding: 10px;
	margin: 10px 0;
}

.contacts {
	background: linear-gradient(#121212 0%, rgb(0, 0, 0, 0.6) 50%);
}
.contact {
	margin: 10px 0;
	display: flex;
	align-items: center;
	background: #181818;
	padding: 10px;
	border-radius: 4px;
}

.about {
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0, transparent);
}
.about_card {
	border-radius: 10px;
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%),
		url(../public/images/about-img.jpg);
	background-size: cover;
	background-position: 50% 50%;
	height: 512px;
	position: relative;
}
.about_text {
	position: absolute;
	bottom: 0;
	padding: 20px;
}

@media (max-width: 600px) {
	.profile {
		flex-direction: column;
	}
	.profile_name {
		margin-left: 0;
		margin-top: 25px;
		font-size: 40px;
		line-height: 1;
	}
}
