.profile {
	display: flex;
	align-items: center;
	max-width: 600px;
	justify-content: space-between;
}
.profile_img {
	border-radius: 50%;
}
.profile_text h1 {
	font-family: myriad pro, Verdana, Arial, Helvetica, sans-serif;
	font-size: 70px;
	font-size: 5.5vw;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #444, 4px 4px 0 #444,
		5px 5px 0 #444, 6px 6px 0 #444, 5px 5px 15px #999;
}
.profile_text a {
	font-size: 20px;
	margin-left: 5px;
}

.skills .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.skills .container > :nth-child(1) > svg {
	fill: #d1d1d1;
}
.skills .container > :nth-child(2) > svg {
	fill: #86c30d;
}
.skills .container > :nth-child(3) > svg {
	fill: #00dffc;
}
.skills .container > :nth-child(4) > svg {
	fill: #573a28;
}
.skills .container > :nth-child(5) > svg {
	fill: #1b4872;
}
.skills .container > :nth-child(6) > svg {
	fill: #8d9aff;
}
.skills .container > :nth-child(7) > svg {
	fill: #d1d1d1;
}
.skills .container > :nth-child(8) > svg {
	fill: #fed142;
}
.skill {
	display: flex;
	width: 100px;
	height: 100px;
	margin: 5px;
	justify-content: center;
	align-items: center;
	background: #181818;
}

.section_heading {
	color: black;
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: 500;
	border-bottom: 4px solid rgb(0, 255, 242);
	background-color: rgb(153, 0, 255);
	padding-top: 4px;
}
.heading {
	font-size: 18px;
	padding-left: 10px;
	border: 2px solid;
	border-top-color: white;
	border-left-color: white;
	background-color: rgb(247, 0, 255);
}
.container {
	padding: 20px;
}

.url {
	box-shadow: 2px 2px black;
	padding: 5px 10px;
	background-color: rgb(201, 201, 201);
}
.url:hover {
	box-shadow: none;
}

.container > div {
	text-transform: uppercase;
	border: 3px solid;
	border-top-color: white;
	border-left-color: white;
	background: #00ffdd;
	padding: 10px;
	margin-bottom: 10px;
	color: black;
}
@media (max-width: 600px) {
	.profile {
		flex-direction: column;
		align-items: normal;
	}
}
